body {
  background-color: #ededed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.centered {
  height: 90vh;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
